.wrapper
  = render 'shared/side'

  .main
    .main-header 
      .current-group
        %p.current-group__name
          = @group.name
        %ul.current-group__members
          Member :
          %li.member
            - @group.members.each do |member|
              = member.user.name
      .edit-header
        = link_to edit_group_path(current_user) do
          .edit-header__btn Edit
    .messages 
      = render @messages

    .form 
      = form_for [@group, @message] do |f|
        .inputbox
          = f.text_field :body, class: 'inputbox__text', placeholder: 'type a message'
          .inputbox__image
            = f.label :image, class: 'inputbox__image__label' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
